<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DesktopAggregate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Executables.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>HIDDescriptorParser.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>IOHIDDFREventFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>IOHIDEventDriver-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>IOHIDEventDriver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>IOHIDEventDriverSafeBoot-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>IOHIDEventDriverSafeBoot.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>IOHIDEventFastPathTestDriver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>IOHIDEventProcessorFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>IOHIDEventSystemStatistics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>IOHIDEventTranslation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>IOHIDFamily-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>IOHIDFamily-bridgeos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>IOHIDFamily-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IOHIDFamily-macos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IOHIDFamily-rtkit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>IOHIDFamily-tvos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>IOHIDFamily-watchos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>IOHIDFamily.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>IOHIDFamilyUnitTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>IOHIDFamily_headers_Sim.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>IOHIDKeyboardFilter-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>IOHIDKeyboardFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>IOHIDLib-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>IOHIDLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>IOHIDNXEventRouter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>IOHIDNXEventTranslatorServiceFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>IOHIDNXEventTranslatorSessionFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>IOHIDPointerScrollFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>IOHIDRemoteSensorSessionFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>IOHIDSystem.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>IOHIDTestConnectionFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>IOHIDTestDriver.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>IOHIDUserClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>InstallHeaders-Embedded.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>InstallHeaders-rtkit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>InstallHeaders.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>RemoteHID.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tools.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>executables-bridgeos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>executables-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>executables-macos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>executables-tvos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>executables-watchos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>hidEventSystemMonitor.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>hidRelayClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>hidRelayServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>hidReportTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>hidScript.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>hidUserDeviceTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>hidd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>hidrsd.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>hidutil-internal.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>hidutil.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>hidxctest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>rtkit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tests-bridgeos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>tests-ios.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>tests-macos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>tests-tvos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>tests-watchos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
</dict>
</plist>
